
@media print{

	/* void menu show on print */
	.header_logo_large{
		display:none !important;
	}

	.navbar{
		display:none !important;
	}

	.nav-tabs{
		display:none !important;
	}

	.hidden-print{
		display:none !important;
	}

	/* general setup */
	body{
	/*		width:680px;	*/
	}

	.ishikawa{
	    width:30px;
	    height:30px;
	    margin-right:30px;
	}

	.print-logo{
		height:50px;
		margin:0;
		position: absolute;
    	left: 0px;
    	top:10px;
	}

	.sub-hash{
		border-color: rgb(202,202,202);
		height:1px;
		color: rgb(202,202,202);
		background-color: rgb(202,202,202);
	}

	.row {		display:table;width:100%;	}
	[class*="col-xs-"] {		display:table-cell;	}

	h1, h2, h3, h4, p {
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
	}
	h1{
		font-size: 22px !important;
		text-align: center;
	}
	h2{
		font-size: 16px !important;
		line-height: 1.0 !important;
		font-weight: normal !important;
		text-transform: uppercase;
		color: rgb(102,102,102);
	}
	h3 {
		font-size: 16px !important;
		line-height: 0.5 !important;
		font-weight: normal !important;
		margin:5px 0 5px 0;
	}
	h4 {
		font-size: 13px !important;
		line-height: 0.5 !important;
	}
	p {
		font-size: 12px !important;
		line-height: 1.1 !important;
		margin:4px;
	}


	.void_pageBreak{
		page-break-inside : avoid !important;
	}

}