{* FUNCTIONS *}
{function name=drawsubmenu}
	{foreach from=$submenuarray item=submenu}
		
		{if empty($submenu->addr) && !empty($submenu->submenu)  }
			<a class="nav-link {if isset($submenuclass)}{$submenuclass}{/if}" href="#">{$mainmenu->nome} !</a>
				<div class="dropdown-divider"></div>
				{drawsubmenu submenuarray=$submenu->submenu submenuclass='submenu-level2'}
				<div class="dropdown-divider"></div>
		{else}
			<a class="nav-link {if isset($submenuclass)}{$submenuclass}{/if} {if isset($submenu->selected)}{if $submenu->selected eq true}navbar-active{/if}{/if}" 
			   href="{if isset($submenu->addr)}{$submenu->addr}{else}#{/if}" 
			   {if isset($submenu->id)}id="{$submenu->id}"{/if}>{$submenu->nome}</a>
		{/if}
		
	{/foreach}
	
{/function}

{function drawmenu }
<li>
	
	<a class="nav-link {if isset($mainmenu->submenu)}dropdown-toggle{/if}"
		href="{if isset($mainmenu->addr)}{$mainmenu->addr}{else}#{/if}"
		{if isset($mainmenu->submenu)}
			id="id_{$mainmenu->nome}"
			data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"
		{/if}>{$mainmenu->nome}</a>
		
	{if isset($mainmenu->submenu)}
	<div class="dropdown-menu" aria-labelledby="id_{$mainmenu->nome}">
		{drawsubmenu submenuarray=$mainmenu->submenu submenuclass='submenu-level1'}
	</div>
	
	{/if}
</li>
{/function}


{* CONTENT *}
<div class="mycontainer">
  	<div class="line">
  		
  	</div>
  	<div class="center">
		<img src="{$HARDCODE_STYLESHEET}/{$CLIENT}Images/mainlogo.png" height="150px">
	</div>
</div>
	
<nav id="menu"> 

		<ul>
			{if isset($menuarray)}{foreach from=$menuarray item=mainmenu}
				{drawmenu data=$mainmenu}
			{/foreach}{/if}
		</ul>

</nav>

{if isset($Success)}
<div class="alert alert-success" role="alert">{$Success}</div>
{/if}
{if isset($Warning)}
<div class="alert alert-warning" role="alert">{$Warning}</div>
{/if}
{if isset($Danger)}
<div class="alert alert-danger" role="alert">{$Danger}</div>
{/if}
{if isset($Message)}
<div class="alert alert-default" role="alert">{$Message}</div>
{/if}